b{
    color: #483a66;
}
.container-ficha1{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;    
}
.card-ficha1{
    background-color: #d6b691;
    color: #483a66;
    border: solid 3px #483a66;
    padding: 12px;
}
.card-ficha1 p{
    border-bottom: solid 2px #483a66;
    border-right: solid 2px #483a66;
    padding: 3px;
}
.card-ficha1 h1{
    text-align: center;
    color: #483a66;
}